.mag-component-scroll-area {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    height: 100%;
    position: relative; }
    .mag-component-scroll-area.hidden {
        display: none; }
    .mag-component-scroll-area > .body {
        position: absolute; }
